@charset "UTF-8";

/* Coolors Exported Palette - coolors.co/

white ffffff 
lighter blue 00abcd
darker blue 006989
grey a3bac3
black 00171f 

*/

/* Global Styles */

body {
background: #ffffff; 
}

section p {
	color: #00171f;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #00abcd;
}

/* Header and Footer */


header, footer {
background: #006989;
color: #ffffff; 
}

/* Phishing */

.phishing {
	background: #a3bac3;
}



/* Penetration */

.penetration {
	background: #a3bac3;
}

/* Other */

.networkAnalysis {
	background: #a3bac3;
}

.other {
	background: #a3bac3;
}
